@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto SemiBold'), local('Roboto-SemiBold'), url('../fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri Regular'), local('Calibri-Regular'), url('../fonts/Calibri/Calibri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: local('Calibri Bold'), local('Calibri-Bold'), url('../fonts/Calibri/Calibri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$fonts1: 'Roboto', Arial, Helvetica, sans-serif;
$fonts2: 'Calibri', Arial, Helvetica, sans-serif;
