<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="footer__title">О ПЕРЕПИСИ</h3>
                <hr>
                <ul class="footer__list">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">НПА/Методики</a></li>
                    <li><a href="#">Что такое Перепись населения?</a></li>
                    <li><a href="#">Этапы проведения<br>
                        переписи населения 2019</a></li>
                    <li><a href="#">История переписи населения 2009</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="footer__title">ВАЖНАЯ ИНФОРМАЦИЯ</h3>
                <hr>
                <ul class="footer__list">
                    <li><a href="#">Как выглядит переписчик<br>
                        (регистратор)?</a></li>
                    <li><a href="#">Образцы переписных листов</a></li>
                    <li><a href="#">Видеоинструкции</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="footer__title">ПОЛЕЗНЫЕ ССЫЛКИ</h3>
                <hr>
                <ul class="footer__list">
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Часто задаваемые вопросы</a></li>
                </ul>
                <a class="footer__tel" href="tel:+777777777777">+7 777 777 77777</a>
                <a class="footer__mail" href="mailto:example@example.com">example@example.com</a>

                <div class="footer__socnet">
                    <a class="socnet__item" href="#">
                        <img src="img/fb.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/tw.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/inst.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/vk.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>