<section class="header jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center mb-sm-4">
                <div class="header__title">ХАЛЫҚ САНАҒЫ 2019</div>
                <div class="header__title mb-4">ПЕРЕПИСЬ НАСЕЛЕНИЯ 2019</div>
                <p class="mb-4">Перепись населения&nbsp;&mdash; это процесс сбора демографических, экономических и&nbsp;социальных
                    данных, характеризующих каждого жителя страны или территории по&nbsp;состоянию на&nbsp;определенный
                    момент времени и&nbsp;получаемых на&nbsp;основе индивидуального опроса.</p>

                <div class="d-flex">
                    <div class="mr-4"><img src="img/17days.png" alt=""></div>
                    <div class=""><img src="img/number.png" alt=""></div>
                </div>

            </div>
            <div class="col-lg-6">
                <form class="form-signin">
                    <div class="form-signin__img"><img src="img/logo.svg" alt=""></div>
                    <h2 class="form-signin__title">Пройти перепись населения<br> в&nbsp;онлайн режиме</h2>
                    <div class="form-group d-flex justify-content-between">
                        <a href="#" class="form-signin__in active">Вход</a>
                        <a href="#" class="form-signin__reg" data-toggle="modal"
                           data-target="#regModal">Регистрация</a>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control"
                               placeholder="Введите адрес электронной почты"
                               required="" autofocus="">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Пароль"
                               required="">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">ВХОД</button>

                    <a class="btn btn-link" href="#">Забыли пароль?</a>
                </form>
                <!-- Пройти перепись населения в онлайн режиме -->
                <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <form class="form-signin">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                <div class="form-signin__img"><img src="img/logo.svg" alt=""></div>
                                <h2 class="form-signin__title">Пройти перепись населения<br> в&nbsp;онлайн режиме</h2>
                                <div class="form-group d-flex justify-content-between">
                                    <a href="#" class="form-signin__in">Вход</a>
                                    <a href="#" class="form-signin__reg active">Регистрация</a>
                                </div>
                                <div class="tabs">
                                    <div class="form-group">
                                        <button id="dropdown-toggle" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Респондент, временно находящийся
                                            в&nbsp;данном населенном пункте, но
                                            постоянно проживающий в&nbsp;другом
                                            населенном пункте&nbsp;РК
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item table__tab" type="button">Респондент, временно находящийся
                                                в данном населенном пункте, но
                                                постоянно проживающий в другом
                                                населенном пункте РК</button>
                                            <button class="dropdown-item table__tab" type="button">Респондент, постоянно проживающий за границей, временно
                                                находящийся в Республики Казахстан.</button>
                                            <button class="dropdown-item table__tab" type="button">Респондент, временно находящийся
                                                в данном населенном пункте, но
                                                постоянно проживающий в другом
                                                населенном пункте РК</button>
                                            <button class="dropdown-item table__tab" type="button">Лицо без гражданства</button>
                                            <button class="dropdown-item table__tab" type="button">гражданин другой страны</button>
                                            <button class="dropdown-item table__tab" type="button">Гражданин Республики Казахстан,
                                                проживающий за пределами РК</button>
                                            <button class="dropdown-item table__tab" type="button">Гражданин Республики Казахстан,
                                                проживающий в Республике Казахстан</button>
                                        </div>
                                    </div>
                                    <div class="table__contant">
                                        <div class="tab">
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">ВХОД</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="">
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="">
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="">
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="">
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="" >
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                        <div class="tab">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ИИН"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select" name="">
                                                    <option value="">Удостоверяющий личность документ</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Номер документа"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Годен до"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Пароль"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Подтверждение пароля "
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите адрес электронной почты"
                                                       required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Мобильный номер"
                                                       required="">
                                            </div>
                                            <div class="from-group">
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Далее</button>
                                                <button class="btn btn-lg btn-secondary btn-block" type="reset">Сброс</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>