<section class="info">
    <h2 class="info__title">Важная информация о переписи</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist.png" alt="">
                </div>
                <div class="info__name">Как выглядит переписчик?</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">СМОТРЕТЬ</button>
            </div>
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist-2.png" alt="">
                </div>
                <div class="info__name">Образцы переписных листов</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">СМОТРЕТЬ</button>
            </div>
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist-3.png" alt="">
                </div>
                <div class="info__name">Что такое перепись населения?</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">ЧИТАТЬ</button>
            </div>
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist-4.png" alt="">
                </div>
                <div class="info__name">НПА/Методики</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">СКАЧАТЬ</button>
            </div>
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist-5.png" alt="">
                </div>
                <div class="info__name">История переписи</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">ЧИТАТЬ</button>
            </div>
            <div class="info__item">
                <div class="info__img">
                    <img src="img/copyist-6.png" alt="">
                </div>
                <div class="info__name">Политика<br>конфиденциальности</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">ЧИТАТЬ</button>
            </div>
        </div>
    </div>
</section>