<section class="link">
    <h2 class="link__title">Полезные ссылки</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="link__item align-self-center">
                <div class="link__name">Часто задаваемые
                    вопросы</div>

            </div>
            <div class="link__item">
                <div class="link__name">Социальные сети</div>
                <div class="link__socnet">
                    <a class="socnet__item" href="#">
                        <img src="img/fb-blue.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/tw-blue.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/inst-blue.png" alt="">
                    </a>
                    <a class="socnet__item" href="#">
                        <img src="img/vk-blue.png" alt="">
                    </a>
                </div>
            </div>
            <div class="link__item align-self-center">
                <div class="link__name">Заполнить форму
                    обратной связи</div>
            </div>
        </div>
    </div>
</section>