<section class="news" id="news">
    <h2 class="news__title">Последние новости переписи</h2>
    <div class="news__inner variable-width">
        <div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                    <div class="news__name">Lorem ipsum</div>
                </div>
                <div class="news__txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna ut labore et dolore magna </p>
                    <button class="btn btn-lg btn-primary" type="submit"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
        <div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                    <div class="news__name">Lorem ipsum</div>
                </div>
                <div class="news__txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna ut labore et dolore magna </p>
                    <button class="btn btn-lg btn-primary" type="submit"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
        <div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                    <div class="news__name">Lorem ipsum</div>
                </div>
                <div class="news__txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna ut labore et dolore magna </p>
                    <button class="btn btn-lg btn-primary" type="submit"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>