<section class="news" id="news">
    <h2 class="news__title">Последние новости переписи</h2>
    <div class="news__inner variable-width">
        <div>
            <div class="news__item big">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                </div>
                <div class="news__txt">
                    <div class="news__name">1-й этап Переписи населения</div>
                    <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций,</p>
                    <button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#newsModal1"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
        <div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                    <div class="news__name">Lorem ipsum</div>
                </div>
                <div class="news__txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    <button class="btn btn-lg btn-primary" type="submit"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
        <div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/video-img.jpg" alt="">
                    <div class="news__name">Lorem ipsum</div>
                </div>
                <div class="news__txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                    <button class="btn btn-lg btn-primary" type="submit"><img src="img/btn-arrow.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Новость -->
    <div class="modal fade" id="newsModal1" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title-v2" id="newsModalLabel1">1-ый этап переписи населения</h4>
                </div>
                <div class="modal-body">
                    <p>Перепись населения&nbsp;&mdash; это процесс сбора демографических, экономических и&nbsp;социальных данных, характеризующих каждого жителя страны или территории по&nbsp;состоянию на&nbsp;определенный момент времени и&nbsp;получаемых на&nbsp;основе индивидуального опроса.<br />
                        Национальная перепись населения проводится в&nbsp;Казахстане регулярно каждые десять лет, начиная с&nbsp;1897 года. Именно такой порядок ее&nbsp;проведения рекомендован <acronym title="Организация Объединённых Наций" lang="ru">ООН</acronym>. Последняя перепись населения в&nbsp;нашей стране состоялась в&nbsp;2009 году.<br />
                        Проведение переписи населения позволит:<br />
                        &mdash;&nbsp;получить надежные данные о&nbsp;численности, размещении и&nbsp;составе населения по&nbsp;полу, возрасту, семейному положению, национальности, уровню образования, данные об&nbsp;уровне жизни населения, его занятости в&nbsp;отраслях экономики;<br />
                        &mdash;&nbsp;актуализировать существующие данные о&nbsp;населении и&nbsp;его характеристиках.<br />
                        Кроме того, перепись позволит определить широкий круг более детализированных показателей, включая численность населения, его распределение по&nbsp;городской и&nbsp;сельской местности, брачному и&nbsp;семейному состоянию, степени владения языками, образовательному уровню, охвату обучением, числу и&nbsp;размеру домохозяйств, источникам средств существования, занятости и&nbsp;жилищным условиям.<br />
                        Все эти индикаторы должны представить четкую статистическую <nobr>социально-экономическую</nobr> картину внутригосударственного устройства страны. Государству&nbsp;же, в&nbsp;свою очередь, итоги переписи дадут возможность на&nbsp;основе достоверных данных более точно выстраивать политический курс развития.</p>
                </div>
            </div>
        </div>
    </div>
</section>