<section class="stages" id="stages">
    <h2 class="stages__title">Этапы проведения переписи</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="stages__item">
                <div class="stages__img"><img src="img/stages.png" width="57" alt=""></div>
                <div class="stages__name">Подготовительный период</div>
                <div class="stages__anons">С 2017 года по 1-2 квартал 2019 года, который также включает пилотную перепись населения.</div>
            </div>
            <div class="stages__item">
                <div class="stages__img"><img src="img/copyist.png" alt=""></div>
                <div class="stages__name">Перепись</div>
                <div class="stages__anons">Второй этап - непосредственно сама перепись населения - 3 квартал 2019 года.</div>
            </div>
            <div class="stages__item">
                <div class="stages__img"><img src="img/copyist-2.png" alt=""></div>
                <div class="stages__name">Итоги</div>
                <div class="stages__anons">Последний этап включает в себя контрольный обход, обработку полученных данных, формирование и публикация итогов переписи. </div>
            </div>
        </div>
    </div>
</section>