<section class="video">
    <h2 class="video__title">Видеоинструкции</h2>
    <div class="video__inner variable-width">
        <div class="video__item">
            <img src="img/video-img.jpg" alt="">
        </div>
        <div class="video__item">
            <img src="img/video-img.jpg" alt="">
        </div>
        <div class="video__item">
            <img src="img/video-img.jpg" alt="">
        </div>
        <div class="video__item">
            <img src="img/video-img.jpg" alt="">
        </div>
    </div>
</section>