.copyist{
	&__header{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 60px;
	}
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__img{
		flex-shrink: 0;
		margin-right: 20px;
	}
	&__name{
		font-size: ;
	}
}