.nav {
	border-top: 25px solid #3f8add;
	.navbar-brand{
		display: block;
		margin-right: 30px;
	}
	.nav-link {
		color: #003c7f;
		font-size: 21px;
		font-weight: bold;
		padding-right: 1rem!important;
		padding-left: 1rem!important;
	}
	.btn-toggler{
		position: relative;
		outline: none;
		&:before{
			content: '';
			position: absolute;
			top: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
			border: none;
			margin: 0;
		}
		span{
			display: block;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
	}
}