.nav {
	border-top: 25px solid #3f8add;
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
		li{
			margin-bottom: 15px;
		}
		a{
			color: #003c7f;
			font-size: 21px;
			font-weight: bold;
		}
	}
	.navbar-brand{
		display: block;
		margin-right: 30px;
	}
	.nav-link {
		color: #003c7f;
		font-size: 21px;
		font-weight: bold;
		padding-right: 1rem!important;
		padding-left: 1rem!important;
	}
	.navbar-toggler{
		position: relative;
		outline: none;
		box-shadow: none;
		&:before{
			content: '';
			position: absolute;
			top: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
			border: none;
			margin: 0;
		}
		span{
			display: block;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
	}
	.btn-toggler{
		position: relative;
		outline: none;
		box-shadow: none;
		background-color: transparent;
		&:before{
			content: '';
			position: absolute;
			top: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -2px;
			left: 12px;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
			border: none;
			margin: 0;
		}
		span{
			display: block;
			background-color: #003c7f;
			width: 33px;
			height: 3px;
		}
	}
	.close{
		top: 20px;
		right: 60px;
		padding: 1rem;
	}
	.modal-dialog{
		max-width: 480px;
		margin-right: 0;
	}
	.modal-content{
		border-radius: 30px 0 30px 30px;
		padding: 50px 125px 50px 50px;
		.form-control{
			padding-left: 0;
			padding-right: 0;
			border: none;
			border-bottom: 2px solid #cccccc;
			border-radius: 0;
		}
	}
}