.video{
	padding: 60px 0;
	&__title{
		color: #3f8add;
		font-size: 48px;
		font-weight: bold;
		line-height: 1;
		text-align: center;
		position: relative;
		margin-bottom: 100px;
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: -40px;
			transform: translate(-50%,0);
			background-color: #3f8add;
			width: 200px;
			height: 10px;
		}
	}
	&__item{
		margin: 0 13px;
	}
}